<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="message" />

      <input type="text" v-model="input.a" />
      <div>{{input.a}} {{message}}</div>
    </div>
    <script src="./watcher.js"></script>
    <script src="./observer.js"></script>
    <script src="./compile.js"></script>
    <script src="./vue.js"></script>

    <script>
      let vm = new Vue({
        el: "#app",
        data: {
          message: "hello world",
          input: {
            a: "jim",
          },
        },
      });
    </script>
  </body>
</html>
